body {background-color:black;
font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:grey;
    text-align: center;
}
#formulario{
    margin-left: 20%;;
}
#rcorners1 {
    border-radius: 25px;
    background:white;
    padding: 20px; 
    margin: 20px;
  }

  span.result {
    background-color: yellow;
  }